PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=root
DB_NAME=satisfaction_survey

MONGO_URI=mongodb://localhost:27017/satisfaction_survey

JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=1d